__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
.env.*
node_modules/
build/
dist/
.git/
.gitignore
.vscode/
.DS_Store
*.egg-info/
*.egg
*.bak
*.swp
*.tmp
*.old
*.orig
.idea/
*.coverage
htmlcov/
.coverage
.mypy_cache/
.pytest_cache/

# Ignore frontend build artifacts if present
../client/build/
../client/node_modules/
